<launch>
  <!-- Arguments -->
  <arg name="scan_topic"     default="scan"/> <!-- Lidar Sensor -->
  <!-- Use to Gaussian`s Initial x, y, and yaw value in Initial Pose Estimation -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!-- Initialize AMCL node with below reference  -->
  <node pkg="amcl" type="amcl" name="amcl">

  <!-- Arguments related to Filter -->
    <!-- Mininum and Maximum number of allowed particles. The Higher, the better (Set according to PC performance )-->
    <param name="min_particles"             value="500"/>   
    <param name="max_particles"             value="3000"/>  
    <!-- Maximum Error between Actual distribution and estimaged distribution -->
    <param name="kld_err"                   value="0.02"/>
    <!-- Required Translation (meter) and Angular(radian) -->
    <param name="update_min_d"              value="0.20"/>
    <param name="update_min_a"              value="0.20"/>
    
    <param name="resample_interval"         value="1"/>
    <!-- Transform tolerance time (sec) -->
    <param name="transform_tolerance"       value="0.5"/>
    <!-- Decrement ratio of slow average weight filter and fast average weight filter -->
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <!-- Same as above`s set -->
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <!-- Maximum cycle time for visual display of scans and path information -->
    <param name="gui_publish_rate"          value="50.0"/>

    <!-- Lidar`s parameter -->
    <!-- Change sensor`s topic name-->
    <remap from="scan"                      to="$(arg scan_topic)"/>
    <!-- Laser`s maximum distance (set according to sensor, meter unit)-->
    <param name="laser_max_range"           value="3.5"/>
    <!-- Maximum number of laser beam when update the filter --> 
    <param name="laser_max_beams"           value="180"/>
    <!-- Sensor model`s z_hit, z_short, z_max and z_rand micture weight -->
    <!-- All weights are default value-->
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <!-- Gaussian model`s Standard Deviation using sensor`s z_hit -->
    <param name="laser_sigma_hit"           value="0.2"/>
    <!-- Decrement parameter of sensor`s z_short  -->
    <param name="laser_lambda_short"        value="0.1"/>
    <!-- Maximum distance to obstacle for likelihood_field method sensor -->
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <!-- Sensor type (Choose likelihood_field or beam) -->
    <param name="laser_model_type"          value="likelihood_field"/>

  <!-- Odometry related parameter -->
    <!-- Set robot`s driving type (Choose diff or omni) -->
    <param name="odom_model_type"           value="diff"/>
    <!-- Estimated noise of odometry`s rotational momentum when rotating  -->
    <param name="odom_alpha1"               value="0.1"/>
    <!-- Estimated noise of odometry`s rotational momentum when doing translational momentum  -->
    <param name="odom_alpha2"               value="0.1"/>
    <!-- Estimated noise of odometry`s translational momentum when doing translational momentum -->
    <param name="odom_alpha3"               value="0.1"/>
    <!-- Estimated noise of odometry`s translational momentum when rotating -->
    <param name="odom_alpha4"               value="0.1"/>

    <!-- odometry frame -->
    <param name="odom_frame_id"             value="odom"/>
    <!-- robot base frame -->
    <param name="base_frame_id"             value="base_footprint"/>

  </node>
</launch>
