<launch>
  <!-- Arguments -->
  <!-- Load map file and Turtlebot`s model-->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <!-- Determine Turtlebot`s Model and call URDF File -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Load saved map`s data(map.yaml) and publish map by map_server node -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Launch AMCL node and set related parameters -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

  <!-- Parameters for dwa_local_planner, which transfers costmap-related parameters and movement speed commands -->
  <!-- required for motion planning to the robot, and parameter settings for move_base, which oversees motion planning  -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->move
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>
</launch>
